# Import and Load Data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
url = 'https://raw.githubusercontent.com/jonathan-data-analysis/colab_test_data/main/athletes.csv'
# convert to dataframe
df = pd.read_csv(url)

# What is a Class?
A class is a template used to create objects. Everything in Python is an object and you've been using themâ€”strings, numbers, and boolean values are all objects. Use the `class` keyword to create your own Python objects and we'll just that here in this notebook! ðŸ”¥

First, let's look at the first five rows of our data!

In [5]:
df.head()

,rcc,wcc,hc,hg,ferr,bmi,ssf,pcBfat,lbm,ht,wt,sex,sport
0,3.96,7.5,37.5,12.3,60,20.56,109.1,19.75,63.32,195.9,78.9,f,B_Ball
1,4.41,8.3,38.2,12.7,68,20.67,102.8,21.30,58.55,189.7,74.4,f,B_Ball
2,4.14,5.0,36.4,11.6,21,21.86,104.6,19.88,55.36,177.8,69.1,f,B_Ball
3,4.11,5.3,37.3,12.6,69,21.88,126.4,23.66,57.18,185.0,74.9,f,B_Ball
4,4.45,6.8,41.5,14.0,29,18.96,80.3,17.64,53.20,184.6,64.6,f,B_Ball

Now, let's discuss what methods are and what they do. When working with objects you sometimes use functions that work on that particular object. For example, if you want to get the keys from a dictionary, you would use the key() method. Again, you will get a chance to build you own object and write funtions inside of them and that right there is a METHOD! A user-defined function in a class which works on that particular object!

That being said, there is another kind of method and that's a special method. Spcial methods, are not user-defined and work in the background and are called by the computer as needed. Special methods have dounle underscores also known as Magic or Dunder Methods. Let's check one out below which initializes and returns the first five rows of any dataset we provide.

## Special Methods
The `__init__` magic/dunder method will initialize and create an instance as `self` and do other stuff such as read the dataset and other tasks. When writing your methods, use the `self` keyword to gain access to that particular instnce. Even the `__init__(self, data)` magic method uses the `self` keyword in this way.

In [7]:
class Summary:
    def __init__(self, data):
        self.df = pd.read_csv(data)

In [8]:
# calling the Summary method doesn't do much because this is an instance
Summary(url)

## Instantiating a Class Object
Instead of calling a class object we can create, or instantiate, an instance of that class. To do this, we'll assign the class object to a variable and pass in our dataset. For example, we can call the functions we write inside of the class object and that means they are methods and not really fucntions. Let's check it out!

In [9]:
# assign the method with the dataset as the variable data
data = Summary(url)

# that didn't do much but that is an instance of our class!

## Data as Class Attributes
Classes can have methods which are functions we write in the class and attributes are like variables for our class instance. Let's add one below to give our dataset a name. We won't keep this functionality in our class but I did want to show you that each class instance can contain variables you can use and those are **attributes**!

In [11]:
class Summary:
    def __init__(self, data, name):
        self.df = pd.read_csv(url)
        self.name = name # attribute
data = Summary(url, "Sports Medicine")
data.name

'Sports Medicine'

## Let's Add Some Logic to Our Class!

In [18]:
class Summary:
    def __init__(self, data):
        self.df = pd.read_csv(url)
    def print_head(self):
        return self.df.head()

In [19]:
data = Summary(url)

In [21]:
data.print_head()

TypeError: Summary.print_head() takes 1 positional argument but 2 were given

## Return `n` Number of Rows

In [26]:
class Summary:
    def __init__(self, data):
        self.df = pd.read_csv(url)
    def print_head(self, rows=None):
        return self.df.head(rows)

In [28]:
# print first record or n records
data = Summary(url)
data.print_head()

,rcc,wcc,hc,hg,ferr,bmi,ssf,pcBfat,lbm,ht,wt,sex,sport
0,3.96,7.5,37.5,12.3,60,20.56,109.1,19.75,63.32,195.9,78.9,f,B_Ball
1,4.41,8.3,38.2,12.7,68,20.67,102.8,21.30,58.55,189.7,74.4,f,B_Ball
2,4.14,5.0,36.4,11.6,21,21.86,104.6,19.88,55.36,177.8,69.1,f,B_Ball
3,4.11,5.3,37.3,12.6,69,21.88,126.4,23.66,57.18,185.0,74.9,f,B_Ball
4,4.45,6.8,41.5,14.0,29,18.96,80.3,17.64,53.20,184.6,64.6,f,B_Ball
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,4.90,7.6,45.6,16.0,90,27.56,67.2,11.79,82.00,183.9,93.2,m,W_Polo
198,5.66,8.3,50.2,17.7,38,23.76,56.5,10.05,72.00,183.5,80.0,m,Tennis
199,5.03,6.4,42.7,14.3,122,22.01,47.6,8.51,68.00,183.1,73.8,m,Tennis
200,4.97,8.8,43.0,14.9,233,22.34,60.4,11.50,63.00,178.4,71.1,m,Tennis
201,5.38,6.3,46.0,15.7,32,21.07,34.9,6.26,72.00,190.8,76.7,m,Tennis