## List Methods

A list method is just a function attached to an object. For example, list methods are functions that work on list-objects. Methods can also work with other data types. Python has a set of built-in methods, or functions, that you can use on lists.

- append() **Adds an element at the end of the list**
- clear() **Removes all the elements from the list**
- copy() **Returns a copy of the list**
- count() **Returns the number of elements with the specified value**
- extend() **Add the elements of a list (or any iterable), to the end of the current list**
- index() **Returns the index of the first element with the specified value**
- insert() **Adds an element at the specified position**
- pop() **Removes the element at the specified position**
- reverse() **Reverses the order of the list**
- sort() **Sorts the list**

> Remember: Lists are mutable.

### reverse()

To reverse a list:

In [ ]:
# create a list containing 1,2,3,3,3,3 and assign it to a variable: my_list


# reverse the list


# print my_list

#### Alternate slicing method ☝️

In [ ]:
# create a list containing 1,2,3,3,3,3 and assign it to a variable: my_list


# reverse a list by slicing and assign to variable: reversed


# print reversed


### append()

To append lists:

In [ ]:
# create a list containing 1,2 3 and assign it to variable: new_list


# append the list with the value 4


# print my_numbers

### clear()

To clear a list:

In [ ]:
# create a list containing 1,2 3 and assign it to variable: new_list


# clear my_list


# print my_list

### copy()

Make a copy a list:

In [ ]:
# create a list containing 1,2 3 and assign it to variable: new_list


# create a copy of my_list and assign it to variable: new_list


# append the my_list with the value 4


# print my_list


# print new_list

### count()

To count the number of times an item appears in a list, use the count list method:

In [ ]:
# create a list containing 1,2 3,3,3,3 and assign it to variable: my_list


# return the count of elements in my_list

4

### extend()

To extend a list:

In [ ]:
# create a list containing "my", "grocery" and assign it to variable: my_list


# extend the my_list with the value "list"


# print my_list

['my', 'grocery', 'list']

### index()

To find the index of the first match for an item in a list:

In [ ]:
# create a list containing 1,2 3,3,3,3 and assign it to variable: my_list

2

### insert()

To insert items into lists:

In [ ]:
# create a list containing "for", "groceries" and assign it to variable: my_list


# insert "shopping" at the beginning of my_list


# print my_list

### pop()

To pop off the last item in a list and return it:

In [ ]:
# create a list containing 1,2 3,4,5,6 and assign it to variable: my_list
my_list = [1,2,3,4,5,6]

# remove 6 from my_list
# default is to pop at the end of the list

# print my_list

[1, 2, 3, 4, 5]

To pop an item by index:

In [ ]:
# create a list containing 1,2 3,4,5,6 and assign it to variable: my_list
my_list = [1,2,3,4,5,6]

# remove 6 from my_list
# pop by index -1 (last item in list)

# print my_list

[1, 2, 3, 4, 5]

### strip()

To strip or remove whitespace at the beginning or end of a string:

In [ ]:
# assign " Python " to variable: my_string
my_string = " Python "

# print length of my_string


# strip whitespace from the string and assign to variable: strip


# print length of stripped


# print stripped

8
6
Python

### split()

To split a string into a comma separated list object:

In [ ]:
# assign "Python is awesome" to variable: my_string
my_string = "Python is awesome"

# split my_string (you don't have to print)

### sort()

To sort lists that contain strings, not numbers:

In [ ]:
# create a new list containing "Denver", "Z", "Pandas" and assign it to variable: new_list
new_list = ["Denver", "Z", "Pandas"]

# sort new_list


# print new_list